<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.origindev.toddstimer"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Todds Timer</name>

    <description>
        HTML Stopwatch frame on PDF viewer 
    </description>

    <author href="https://origindev.com" email="info@origindev.com">
        Matt Wren
    </author>

</widget>